
.App{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100vh;
  width: 100vw;

  background-image: url("https://firebasestorage.googleapis.com/v0/b/brosh75-bcdac.appspot.com/o/bahad1icon.png?alt=media&token=17b42e76-0854-4e01-bdfd-bf2081db81fa");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.Menubar{
  width: 100%;
  position: absolute;
  bottom: 0.5vh;
  
}

.Mainbar{
  width: auto;
}

.MainToolBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Board{
  height: inherit;
}

.list{
  overflow-y: scroll;
}